<div style="display: flex; width: 100%; height: 100vh;">
    <div style="width: 240px; height: 100%; border-right: 1px solid #e0e0e0;">
        <ejs-symbolpalette height="100%" width="100%" [palettes]="symbolPalette" [symbolHeight]="50" [symbolWidth]="50" [enableSearch]="true" [symbolPreview]="symbolPreviewSettings">
        </ejs-symbolpalette>
    </div>

    <div style="flex: 1; height: 100%;">
        <ejs-diagram #diagram id="diagram" width="100%" height="100%">
        </ejs-diagram>

    </div>
</div>